@import '../../styles/variables.scss';

.main-container {

	&--scroll {
		min-height: 100vh;
	}

	&--no-scroll {
		height: 100vh;
		overflow: hidden;
	}

	&__body {
		height: 90%;

		&--banner {
			height: 70%;
		}
	}
}

.hasTopbar {
	height: 80%;
}

.backgroundImg {
	&--login {
		background-image: url('../../assets/images/barra.jpg');
	}

	&--welcome1 {
		background-image: url('../../assets/images/welcome1.jpg');
		background-position: absolute;
		background-position-y: 0%;
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
		background-size: 100%;
	}

	&--mainGoals {
		background: url('../../assets/images/welcome2.jpg');
		background-size: cover;
	}

	background-repeat: no-repeat;
	background-size: cover;
}

.main-container--noXscroll {
	overflow: hidden;
}