@import '../../styles/variables.scss';

.animation-el-templo {
    background-color: $primary;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    overflow: hidden !important;

    &--img {
        position: relative;
        animation: mymove 5s;
    }
}

@keyframes pulse {
    from {
        transform: scale(1);
        bottom: 0px;
        opacity: 1;
    }

    to {
        transform: scale(0.75);
        bottom: 400px;
        opacity: 0.25;
    }
}

@keyframes mymove {
    from {
        top: 0px;
        transform: scale(0.5);
    }

    to {
        top: 200px;
        transform: scale(1);
    }
}