@import '../../styles/variables.scss';

.input__divided {
	background-color: $nineth;

	height: 40px;

	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	box-shadow: 0px 0px 5px $shadow025;

	.input__divided--label {
		text-indent: 1rem;
	}

	.input__divided--centerLine {
		background-color: $thirteenth;

		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

		opacity: 0.7;
		width: 2px;
		height: 40px;
	}

	.input__divided--auxTextContainer {
		padding-right: 5%;

		.input__divided--input {
			border: none;

			width: 100%;

			margin: 0% 10%;

			text-indent: 1rem;
			text-align: end;
			font-size: 1rem;
		}

		.input__divided--input:focus {
			outline: none;
			border: none;
		}

		.input__divided--auxText {
			color: $tertiary;

			font-size: 1rem;
		}
	}
}