@import '../../styles/variables.scss';


.main-container {

    .texts-position {
        position: relative;
        left: 140px;
        top: 20px;

        .texts-flex {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            position: absolute;

            height: 108px;
            width: max-content;
        }
    }

    .circles-container {
        position: relative;
        bottom: 20px;
        margin-left: 20px;
    }
}