@import '../../styles/variables';

.generic-ticket {
	height: 40px;
	margin-top: 8px;
	border-radius: 15px;
	box-shadow: $shadow020;
	color: $sixth;
	font-weight: 500;
	text-indent: 10px;
	padding-right: 1rem;

	.container1 {


		&--list {
			border-right: 2px solid $fifteenth;
			height: 100%;
			padding-top: 7px;
		}

		.text-1-container {
			margin-left: 30px;
			padding: 0px 5px;
		}

		.divided-ticket-fix-left {
			margin-left: 10px;
		}

	}

	.divided-ticket-fix-right {
		// background-color: blue;
		margin-right: 10px;
	}


	&--separated {
		display: flex;
		justify-content: space-between;
	}

	.text-2-container {
		padding: 0px 0px 5px 8px;
		display: flex;
		align-items: center;
	}

	.end__aligned--text {
		word-spacing: 20px;
	}

	.generic-ticket-text {
		margin: 0px;
		padding: 0px;
	}

	.generic-ticket-stats {}

	.mode {
		border-left: 3px solid black;
	}
}