@import '../../../styles/variables.scss';

.weightHeight__container {
	.weightHeight__backgroundImg {
		background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fst2.depositphotos.com%2F2389277%2F5903%2Fi%2F950%2Fdepositphotos_59034877-stock-photo-workout-at-gym-with-hammer.jpg&f=1&nofb=1);
		-webkit-filter: blur(2px);
		-moz-filter: blur(2px);
		-o-filter: blur(2px);
		-ms-filter: blur(2px);
		filter: blur(2px) brightness(90%);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}

	.weightHeight__topText--container {
		background-color: $tertiary;
		height: 160px;
		padding-top: 55px;
		.weightHeight__topText {
			margin-left: 24px;
		}
	}
	.weightHeight__input--container {
		margin-top: 60px;
	}

	.weightHeight__btn--container {
		position: absolute;
		width: 90%;
		bottom: 55px;
	}
}
