@import '../../styles/variables';

.language-selector {
	position: relative;
	top: 30px;
	left: calc(100% - 60px);
}
.main-logo {
	display: flex;
	justify-content: center;

	position: absolute;
	top: 100px;
	left: 17%;
}
.buttons-container {
	margin-bottom: -28px;
}
