@import '../../styles/variables';

.rectangle324 {
	background-color: $sixteenth;
	font-weight: bold;
	font-family: $font-1;
	height: 42px;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.accordion-button {


	padding-top: 2vh;
	padding-bottom: 2vh;
	font-family: $font-1;
	font-weight: bold;
	font-size: 13px;
	line-height: 1px;

	&--icon {
		&:not(.collapsed) {
			&::after {

				background-image: none;

			}
		}

		&::after {

			background-image: none;
			background-color: none;
		}
	}

	&--blue {
		&:not(.collapsed) {
			background-color: $tertiary;
			color: $nineth;
		}

		background-color: $tertiary;
		color: $nineth;
		font-weight: 300;
		line-height: 1rem;
	}
}


.accordion-body {
	align-items: start;

	margin: 0;
	padding: 0;

	&--color {
		background-color: $tenth;

		padding: 0;
	}
}

textarea {
	outline: none;
	border: none;
	width: 80%;
	background-color: transparent !important;
	border-radius: 15px;
	padding: 2px 0 2px 0;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	resize: none;
}

.accordion-button:not(.collapsed)::after {

	background-size: 15px;

	margin-right: 1%;
}

.accordion-button::after {

	background-size: 15px;
	display: flex;
	align-items: start;




}