.card-info-container {

    .image-container {
        width: 100%;
    }

    // .text-container {}

    .user-name-container-fix {
        margin-top: -6px;
    }

    .icon-container {
        margin-top: 12px;
        margin-right: 16px;

    }
}